// variables.scss
$BackgroundColor: #0b0e13;
$BackgroundColorTwo: #12171f;
$InputColor: #0f1219;
$TextColor: aliceblue;
$FontFamily: monospace;

$SuccessColor: rgb(75, 136, 105);
$FailedColor: rgb(168, 46, 46);


