@import "./config/variables.scss";
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 14px;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  height: 3.5rem;
  border-radius: 9999px;
  border: 4px solid transparent;
  background-color: hsla(0, 0%, 100%, 0.05);
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: $BackgroundColor;
}
